.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  .recent_posts {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    .post_card {
      // height: 110vh;
      .image {
        width: 100%;
        height: 50vw;
        background-color: aquamarine;
      }
      .text {
        height: 30vw;
        background-color: cadetblue;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .main {
    flex-flow: row;
    // background-color: red;
    .recent_posts {
      display: grid;
      grid-template-areas:
        "main no_main1"
        "main no_main2";
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 3fr 1fr;
      .post_card {
        padding: 10px;
        .image {
          width: 100%;
          height: 70%;
          background-color: white;
          box-sizing: border-box;
        }
        .text {
          height: unset;
        }
      }
      .post1 {
        grid-area: main;
        background-color: blue;
      }
      .post2 {
        grid-area: no_main1;
        background-color: red;
      }
      .post3 {
        grid-area: no_main2;
        background-color: green;
      }
    }
  }
}
