.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  background-color: red;
  .recent_posts {
    display: grid;
    grid-template-areas:
      "main no_main1"
      "main no_main2";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
    .post1 {
      grid-area: main;
      background-color: blue;
    }
    .post2 {
      grid-area: no_main1;
      background-color: red;
    }
    .post3 {
      grid-area: no_main2;
      background-color: green;
    }
  }
}
