.navBar {
  // left: 0;
  // position: fixed;
  left: 100vw;
  width: 100%;
  height: 9vh;
  background-color: yellow;
  box-sizing: border-box;
  display: flex;
  // flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  .logo_link {
    text-decoration: none;
  }
  .nav {
    overflow-x: hidden;
    .links {
      position: absolute;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      margin: 0;
      top: 0;
      left: 100vw;
      width: 100%;
      min-height: 50vh;
      max-height: fit-content;
      list-style: none;
      padding: 0;
      transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
      .link_container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        .link {
          text-decoration: none;
          margin: 15px;
        }
      }
    }
    .show_links {
      position: absolute;
      left: 0;
    }
  }
  .burger {
    width: 20px;
    height: 20px;
    background-color: black;
    z-index: 4;
    cursor: pointer;
  }
  .close_burger {
    width: 20px;
    height: 20px;
    background-color: red;
    cursor: pointer;
  }
}

@media screen and (min-width: 990px) {
  .navBar {
    position: relative;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 9vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      .links {
        position: relative;
        display: flex;
        flex-flow: row;
        list-style: none;
        .link {
          margin-left: 10px;
          // cursor: pointer;
        }
      }
    }
    .burger {
      width: 20px;
      height: 20px;
      background-color: black;
      display: none;
    }
  }
}
