.navBar {
  width: 100%;
  height: 9vh;
  background-color: yellow;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  .logo_link {
    text-decoration: none;
  }
  .links {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    left: 0;
    margin: 0;
    top: 9vh;
    padding: 0;
    box-sizing: border-box;
    margin-left: -100vw;
    width: 100%;
    height: 50vh;
    list-style: none;
    transition: all 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
    .link_container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aliceblue;
      .link {
        text-decoration: none;
        margin: 15px;
      }
    }
  }
  .show_links {
    position: absolute;
    margin-left: 0;
  }
  .burger {
    width: 20px;
    height: 20px;
    background-color: black;
    z-index: 4;
    cursor: pointer;
  }
  .close_burger {
    width: 20px;
    height: 20px;
    background-color: red;
    cursor: pointer;
  }
}

@media screen and (min-width: 990px) {
  .navBar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    .links {
      position: relative;
      height: 100%;
      top: 0;
      width: fit-content;
      background-color: unset;
      margin: 0;
      .menu {
        display: flex;
        .link_container {
          background-color: unset;
        }
      }
    }
    .burger {
      display: none;
    }
  }
}
