.post1 {
  grid-area: post1;
}

.post2 {
  grid-area: post2;
}

.post3 {
  grid-area: featured;
}

.post_card {
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid black;
  .image {
    height: 70%;
    background-color: #473b3b;
  }
  .title {
    height: 10%;
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .text {
    height: 20%;
    padding: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
  }
}

@media screen and (min-width: 990px) {
  .post1 {
    grid-area: post1;
  }

  .post2 {
    grid-area: post2;
  }

  .post3 {
    grid-area: featured;
  }
}
