.posts_all {
  width: 100%;
  background-color: aqua;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 30rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}
